body {
  background-color: #e1f1dd;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 5rem 0;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}

.container button {
  margin: 1rem 0;
  width: 16rem;
  height: 6rem;
  border-radius: 1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-color: #00adb5;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.container_requests {
  padding: 0.5rem;
  align-items: center;
  font-family: "Work Sans", sans-serif
  display: inline-block;
  margin: 3rem 5rem;
}

.container_requests button {
  margin: 0.5rem 0;
  width: 25rem;
  height: auto;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-color: #00adb5;
  color: white;
  font-size: 16px;
  font-weight: bold;
  display:inline-block;
}

.deleteButton{
  width: 8rem!important;
  height: 5.6rem!important;
  border-radius: 1rem!important;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25)!important;
  color: white!important;
  background-color: #ce1212!important;
  position: absolute;
  top: 7rem;
}

.container_requests input {
  margin: 1rem 0;
  width: 25rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-color: #f0c929;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.backButton{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #00adb5;
  position: absolute;
  left: 30rem;
  font-size: 2rem;
}

#slider {
  -webkit-appearance: none;
  appearance: none;
  height: 8px !important;
  /* width: 100%; */
  border-radius: 10em;
  background-color: #00adb5;
  outline: none;
  margin-bottom: 2rem;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #33d167;
  cursor: pointer;
  border: 3px solid #f4f4f4;
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #33d167;
  cursor: pointer;
  border: 3px solid #f4f4f4;
}

.container_newRequest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 380px;
  margin: 5rem 0;
  margin-left: auto;
  margin-right: auto;
}

.container_newRequest button {
  margin: 1rem 10px;
  width: 190px;
  background-color: #f0c929;
  border-radius: 1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  width: 10rem;
  height: 6rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.container_newPost {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 5rem 0;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}

.container_newPost input,
button {
  margin: 1rem 0;
  width: 25rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-color: #00adb5;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

::placeholder {
  color: white;
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

#SubmitButton{
  background-color: #f0c929 !important;
}
